# ─── Application ───────────────────────────────
APP_NAME=EduManager
APP_ENV=development
APP_PORT=3001

# ─── PostgreSQL ────────────────────────────────
POSTGRES_USER=edumanager_user
POSTGRES_PASSWORD=edumanager_pass_2026
POSTGRES_DB=edumanager_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ─── Redis ─────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─── MinIO ─────────────────────────────────────
MINIO_ROOT_USER=edumanager_minio
MINIO_ROOT_PASSWORD=minio_pass_2026
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_BUCKET=edumanager-files

# ─── pgAdmin ───────────────────────────────────
PGADMIN_EMAIL=admin@edumanager.com
PGADMIN_PASSWORD=pgadmin_pass_2026

# ─── JWT ───────────────────────────────────────
JWT_SECRET=change_this_secret_key_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production
JWT_REFRESH_EXPIRES_IN=7d

# ─── Frontend ──────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001