# ─── Variables d'environnement ───
.env
.env.local
.env.production

# ─── Dependencies ───
node_modules/

# ─── Build outputs ───
dist/
build/
.next/

# ─── Logs ───
*.log
npm-debug.log*

# ─── OS ───
.DS_Store
Thumbs.db

# ─── IDE ───
.vscode/
.idea/

# ─── Docker ───
docker-volumes/

.env.prod
nginx/ssl/